body{padding: 0;margin: 0; overflow-x: hidden; }
.top_header {
  width: 100vw;
  height: 50vw;
  background-image: url(../images/bitmap.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: block;
  color: white;
}
      /*Header Navigation*/
.header{
  padding: 3.25rem 3.25rem 47.50rem 3.25rem;
}
.top_bar{
  display: grid;
  grid-template-columns: 20% 74% auto;
}
.top_bar_left_side_name {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: bold;
  font-family: sans-serif;
}
.top_bar_phone_number {
  float: right;
}
.top_bar_phone_number p{
  line-height:  0.1rem;
  font-weight: bold;
  font-size:1.200vw;
}
.top_bar_phone_number a {
  font-family: sans-serif;
}
.top_bar_phone_number_mail a{
  color: white;
  text-decoration: none;
   font-size: 0.9vw;
}
.top_bar_menu_icon{
  float: right;
  padding-top: 1.5rem;
}

.menuToggle
{
  display: block;
  position: absolute;
  top: 4vw;
  right:4vw;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}
.menu-item_facebook {
  background-repeat: no-repeat;
  width: 1vw;
  height: 1vw;
}
.menu-item_instagram {
  background-repeat: no-repeat;
  width: 1vw;
  height: 1vw;
}
.menu-item-youtube {
  background-repeat: no-repeat;
  width: 2vw;
  height: 2vw;
}
.social_media {
  padding-top: 50vw;
}
.menuToggle input
{
  display: block;
  width: 4.2vw;
  height: 3.4vw;
  position: absolute;
  top: -0.7vw;
  left: -0.9vw;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}
.menuToggle span
{
  display: block;
  width: 1.7vw;
  height: 0.2vw;
  margin-bottom: 0.3vw;
  position: relative;

  background: #ffffff;
  border-radius: 0.1vw;
  
  z-index: 1;
  
  transform-origin: 0.1vw 0vw;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

.menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}

.menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -0.1059322033898305vw);
}
.menu-item{
  color: #ffffff;
}
.menu p{
  font-size: 1.14vw;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 0vw;
}
.info-mail{
color: #fff;
font-size: 0.83vw;
margin-left: 0.5vw;
font-family: sans-serif;
}
.menu-item{
  display: block;
  text-decoration:none;
  padding-top: 4vw;
}

.menu
{
  position: absolute;
  width: 25.7vw;
  height: 43vw;
  margin: -10.6vw 0 0 0;
  padding: 5.3vw;
  padding-top: 8vw;
  right: -10.6vw;
  font-size: 1.6vw;
  font-family: sans-serif;
  background-color: #000000;
  opacity: 0.5;

    list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}


.menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 0.8;
}

/*Header Article*/

.header_container {
float: left;
width: 30vw;
padding:16vw 0 0 3vw;
font-family: sans-serif;
}
.header_title {
font-size: 1.5rem;
}
.header_title_text p{
line-height: 2rem;
font-family: sans-serif;
font-size: 1rem;
}
.header_title_text {
width: 75%;
}
/*Fixed Link Ask Quest*/
.question_container{
  position: absolute;
  z-index: 100;
float: right;
right:-6rem;
top: 70%;
transform: rotate(-90deg);
background-color: #D9B07E;
position: fixed;
}
.question_div_contains_qust {
padding: 0.5125rem 3.875rem 0.5125rem 2.5125rem;
}
.question_link{
color: #ffffff;
font-size: 1.125rem;
text-decoration: none;
display: block
}
.about {
padding:9.375rem 5rem 20rem 8.125rem;
}
.about_title{
  width:50vw;
}
.about_title h1{
  font-size: 3.8vw;
  font-family: sans-serif;
}
.about_title_under_line{
  background-image: url(../images/line.png);
  padding: 0.0300rem;
  background-repeat: repeat-repeat-x;
  width: 100%;
}
.about_article_container{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.about_article {
  padding: 5rem 6rem 5rem 6rem;
  line-height: 1.700rem;
}
    /*Third Section of Landing topRange*/
.animation_row{
  width: 88vw;
  top: 88.5vw;
  padding: 1vw;
}
.animation_picture_1 {
  width: 25vw;
  height: 32vw;
    float: left;
  background-image: url(../images/lawyer0.jpg);
  background-repeat: no-repeat;
  margin: 1vw;
  margin-top: -15.6vw;
}
.animation_container{
  margin-left: 7vw;
}
.animation_picture_2 {
  width:25vw;
  height: 32vw;
    float: left;
  background-image: url(../images/lawyer0.jpg);
  background-repeat: no-repeat;
  margin: 1vw;
    margin-top: -15.6vw;
}
.animation_picture_3 {
  width: 25vw;
  height: 32vw;
    float: left;
  background-image: url(../images/lawyer0.jpg);
  background-repeat: no-repeat;
  margin: 1vw;
    margin-top: -15.6vw;
}
.third_section_main_div {
  background-color: #373739;
  padding:9.375rem 5rem 45rem 8.125rem;
}

.third_sect_speacial {
padding: 15rem  0 0 0;
}
.third_sect_speacial h2{
  font-size: 3.8vw;
  color: #ffffff;
  font-family: sans-serif;
}
.third_sect_four_art {
  padding: 0 5rem 0 0;
}
.third_sect_four_art_2{
  padding-top: 2rem;
  float: right;
  line-height: 2rem;
  width: 40%;
}
.third_sect_four_art_1{
  padding-top: 2rem;
  line-height: 2rem;
  float: left;
  width: 40%;
}
.third_sect_four_art_p1{
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
}
.third_sect_four_art_line {
  background-image: url(../images/line2.png);
  background-repeat: repeat-x;
  padding: 1rem;
  width: 100%;
}
.third_sect_four_art ul{
  float: right;
  width: 70%;
}
.third_sect_four_art ul li {
  color: #c3c3c3;
  font-family: sans-serif;
  font-size: 1rem;
  opacity: 0.7;
}
.word_media h1{
 opacity: 0.9;
 font-family: sans-serif;
 font-size: 4vw;
 font-weight: bold;
 font-style: normal;
 font-stretch: normal;
 line-height: 0.91rem;
 letter-spacing: normal;
 color: #373739;
}
.word_media{
  padding: 4rem 0 0 8rem;
   font-family: sans-serif;
   font-size: 1.200rem;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #000000;
}
.media_two_videos{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0;
  background-color: #373739;
}
.media_video_1{
  float: left;
  background-image: url(../images/media_img.jpg);
  background-repeat: no-repeat;
  background-position: cover;
  width: 84vw;
  padding: 5rem;
}
.media_video_cont {
  float: bottom;
  margin-top: 19rem;

}
.media_small_png_img{
  float: left;
}
.media_small_img_text{
  color: #fff;
  padding-left: 4rem;
}
.public_sect {
  background-color:#373739;
  padding: 6rem 6rem 38rem 6rem;
}

.public_sect_h2 {
padding: 5rem  0 0 0;
}
.public_sect_h2 h2{
  font-size: 4.125rem;
  color: #ffffff;
  line-height: 1rem;
  font-family: sans-serif;
}
.public_sect_h2 p {
  color: #fff;
  font-family: sans-serif;
  font-size: 1.625rem;
}
.public_sect_main_art{
  color: #c3c3c3;
  font-family: sans-serif;
  font-size: 1rem;
  opacity: 0.7;
  line-height: 1.560rem;
}
.public_sect_main_art_div{
  float: right;
  width: 65%;
}
.date {
  float:right;
  opacity: 0.3;
  font-size: 0.800rem;
}
iframe {
  width: 100%;
}
.footer {
  padding-bottom: 2rem;
  background-color: #2d2d2e;
}
.footer_num {
  font-family: sans-serif;
  font-size: 1.375rem;
  font-weight: 800;
  line-height: 0.73;
  color: #f5f4f4;
}
.footer_address {
  font-family: sans-serif;
  font-size: 0.875rem;
  line-height: 2.14;
  color: #f5f4f4;
}
.footer_mail{
  font-family: sans-serif;
  font-size: 0.875rem;
  line-height: 1.14;
  color: #f5f4f4;
}
.footer_item_instagram{
  background-repeat: no-repeat;
  width: 2vw;
  height: 2vw;
}
.footer_item_facebook{
  background-repeat: no-repeat;
  width: 2vw;
  height: 2vw;
}
.footer_item_youtube{
  background-repeat: no-repeat;
  width: 2vw;
  height: 2vw;
}

.footer_info{
  line-height: 1rem;
  padding: 8rem;
}
.footer_info ul{
  margin-top: 2rem;
}
.footer_info ul li{
  margin-left: 1rem;
  list-style: none;
  display: inline-block;
}
.footer_line {
  background-image: url(../images/line2.png);
  background-repeat: repeat-x;
  padding: 0.3rem;
  width: 90%
}
.footer_line_div {
  padding:0 5vw 0 5vw;
}
.footer_ft{
  color: #ffffff;
font-family: sans-serif;
float: left;
font-size: 0.8rem;
padding-left: 4.5rem;
}
.footer_button_line_mak{
  float: right;
  color: #ffffff;
font-family: sans-serif;
font-size: 0.8rem;
padding-right: 4.5rem;
}

@media (max-width: 900px){
.menuToggle {
    top: 7.6vw;
    right: 5.3vw;
}
  }


@media (max-width: 1000px) {
.top_bar_menu_icon {
    float: right;
    padding-top: 1rem;
}
.header_container {
width: 50vw;
padding:6vw 0 0 3vw;
}
.header_article_h1 {
font-size: 2vw;
}
.header_title_text p{
line-height: 1.5rem;
font-family: sans-serif;
font-size: 1.5vw;
}
.about_article_container{
  display: grid;
  grid-template-columns:0% 50% 50%;
}
.about_article {
  padding: 1rem;
  line-height: 1.700rem;
}
.third_sect_four_art_1{
  float: left;
  width: 30vw;
  line-height: 2vw;
  padding-top: 5vw;
}
.third_sect_four_art_2{
  padding-top: 2rem;
  float: right;
  width: 30vw;
  line-height: 3vw;
}
.public_sect_main_art_div {
width: 30vw;
float: right;
}
.public_sect {
  background-color:#373739;
  padding: 0rem 6rem 38rem 6rem;
}
.media_video_1{
  float: left;
  background-image: url(../images/media_img.jpg);
  background-repeat: no-repeat;
  background-position: cover;
  width: 34vw;
  padding: 5rem;
}
.third_sect_speacial {
padding: 10rem  0 0 0;
}
.third_sect_four_art ul{
  float: left;
}
.third_sect_h2{
line-height: 2.8vw;
float: right;
}
.public_sect {
  background-color:#373739;
  padding: 6rem 6rem 40rem 6rem;
}
.third_sect_h3 {
  float: none;
  padding-top: 5vw;
}
.third_section_main_div {
  padding:9.375rem 5rem 40rem 8.125rem;
}

}

a@media (max-width: 1500px){

.menuToggle
{
  top: 5vw;
  right:5.3vw;
  }
}

